<h1>Dispatcher Dashboard</h1>

<p>Welcome, <%= current_user.email %>!</p>

<% if @store %>
  <p>Assigned Store: <%= @store.name %></p>
  <% end %>
  
  <h3>Orders to Dispatch</h3>


<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>