<h2>Your Cart</h2>

<% if @cart.cart_items.any? %>
  <ul>
    <% @cart.cart_items.each do |item| %>
      <li>
        <%= item.product.name %> - Qty: <%= item.quantity %>
         <%= button_to "Remove", customers_cart_item_path(item), method: :delete %>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
