<!-- app/views/customers/profiles/show.html.erb -->
<h2>Your Profile</h2>

<p><strong>Email:</strong> <%= @customer.email %></p>

<%= link_to "Edit Profile", edit_customers_profile_path, class: "btn btn-primary" %>
