<h1>Edit Product</h1>

<% if @product.image.present? %>
  <div class="product-image">
    <img src="<%= @product.image %>" alt="<%= @product.name %>" style="max-width: 200px;">
  </div>
<% else %>
  <p>No image available</p>
<% end %>

<%= render "form", store: @store, product: @product %> <!-- ✅ Pass required locals -->


<%= link_to "Cancel", stock_manager_dashboard_path, class: "btn btn-secondary" %>

